.row
  %div{:class => 'intro'}
    %h1 Welcome to Online Examination Portal!
%hr/
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th.col-md-8 List of Exams
      %th.col-md-2
  %tbody
    - @exams.each do |exam|
      %tr
        %td= link_to exam.name, exam_path(exam.id)
        %td= exam.description
        %td= link_to "Edit", edit_exam_path(exam.id)
        %td= link_to("Delete", exam_path(exam),  :method => :delete)
%p= link_to "Create Exam", new_exam_path
%br/
